.row {
  display: block;
  padding: 5px;
}

.heading, h3, h4, p {
  text-align: center;
}

h1 {
  color: #48484c;
}

h6 {
  color: #777;
  font-weight: lighter;
  font-style: oblique;
}

span {
  font-weight: bold;
}

#instructions_btn {
  cursor: pointer;
  color: rgb(2,154,207);
}

#instructions_btn:hover {
  text-decoration: underline;
  color: rgb(2,154,207);
}

#instructions {
  display: none;
}

#submit {
  display: block;
  background-color: #D9230F;
  color: #fff;
}

.jumbotron {
  text-align: center;
  margin-top: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
}

.hide {
  display: none;
}

#course_name, #course_name2  {
  color: #3A56A2;
}

#course_link, #course_link2 {
  background-color: #029ACF;
  color: #fff;
}

#output_conjunction {
  margin: 10px;
}
